@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?bitk6d');
  src:  url('../fonts/icomoon.eot?bitk6d#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?bitk6d') format('truetype'),
  url('../fonts/icomoon.woff?bitk6d') format('woff'),
  url('../fonts/icomoon.svg?bitk6d#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}