@import "../tools/breakpoints";

.main{
  position: relative;
  margin-top: 115px;
}

.map-control{
  position: absolute;
  top: -115px;
  left: 0;
  right: 0;
  width: 310px;
  font-size: 0;
  margin: auto;
  z-index: 99;
  &__btn{
    position: relative;
    height: 70px;
    width: 155px;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    outline: none;
    border: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: var(--dark-grey);
    transition: all 0.3s;
    &:focus, &:active{
      outline: none;
    }
    &:hover{
      background-color: var(--black);
    }
    &.active{
      background-color: var(--black);
      &:after{
        content: '';
        position: absolute;
        bottom: -10px;
        left: 0;
        right: 0;
        margin: auto;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 10px 0 10px;
        border-color: #323232 transparent transparent transparent;
      }
    }
  }
}


.map{
  height: 425px;
}

.map-listing{
  margin-top: 30px;
}

.item{
  margin-bottom: 30px;
  &__head{
    padding: 5px;
    background-color: var(--light-grey);
  }
  &__title{
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
  }
  &__content{
    position: relative;
    height: 85px;
    background-color: var(--whitesmoke);
  }
  &__count{
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 54px;
    line-height: 1;
    font-weight: 700;
    color: #4B4B4B;
  }
}